{% extends 'base.html' %}
{% load bootstrap4 %}
{% block body %}

{% if request.resolver_match.url_name == 'create' %}
<h1>영화 정보 생성 페이지</h1>
{% else %}
<h1>영화 정보 수정 페이지</h1>
{% endif %}
<hr>
<form action="" method="POST">
  <!-- GET에서 POST로 변경하는 방법 method = "POST" -->
  <!-- CSRF 사이트 간 요청 위조  -->
  {% csrf_token %}
  {% bootstrap_form form %}
  {% buttons %}
  <button type="submit" class="btn btn-primary">Submit</button>
  {% endbuttons %}
</form>
<button class="btn btn-outline-danger"><a href="{% url 'movies:index' %}">목록으로</a></button> 
{% endblock %}