{% extends 'base.html' %}
{% load bootstrap4 %}
{% block body %}
<h1>영화 상세 정보 페이지</h1>
<hr>
<p>[{{ movie.pk }}번째 글]</p>
<p>영화명 : {{ movie.title }}</p>
<p>영화명(영문) : {{ movie.title_en }}</p>
<p>누적 관객수 : {{ movie.audience }}</p>
<p>개봉일 : {{ movie.open_date }}</p>
<p>장르 : {{ movie.genre }}</p>
<p>관람등급 : {{ movie.watch_grade }}</p>
<p>평점 : {{ movie.score }}</p>
<p>포스터 이미지 URL :<br/><img src="{{ movie.poster_url }}" width="70%" height="40%" alt=""/></p>
<p>영화 소개 : {{ movie.description }}</p>
<button class="btn btn-outline-danger"><a href="{% url 'movies:index' %}">목록으로</a></button>
<button class="btn btn-outline-success"><a href="{% url 'movies:update' movie.pk %}">영화 정보 수정</a></button>
<button class="btn btn-outline-success"><a href="{% url 'movies:delete' movie.pk %}">영화 정보 삭제</a></button>
{% endblock %}